{% extends 'users/components/base.html' %}

{% block body_block %}
{% load crispy_forms_tags %}

<div class="row">
    <hr>
    <div class="col-md-3"></div>
    <div class="col-auto  mx-3"><form id="login_user_form" class='form-control' method="post" action="{% url 'users:user_login' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ login_user_form | crispy }}
        <div class="row text-center">
        <button class="submit btn btn-outline-dark btn-lg mx-auto" type="submit" name="submit">L O G I N</button>
        </div>
    </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}