{% load static %}
{% load categories_extras %}
{% get_category_list category as gcl %}
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <a
          href="/"
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a href="{% url 'data_dive:index' %}" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          {% if gcl.all_categories_list %}
          {% for c in gcl.all_categories_list %}
          <li class="row row-cols-auto px-3">
            <a
              href="#submenu{{ forloop.counter }}"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
            <i class="bi bi-list"></i>
              <span class="ms-1 d-none d-sm-inline">{{ c.name }} </span>
              
            </a>
            <a class="ms-1 d-none d-sm-inline pt-2" href="{% url 'data_dive:show_category' c.slug %}">
              {% if c == category %}
              <i class="bi bi-caret-right-square-fill"></i>
              {% else %}
              <i class="bi bi-caret-right-square"></i></a>
              {% endif %}
            <ul
              class="collapse  nav flex-column ms-1"
              id="submenu{{ forloop.counter }}"
              data-bs-parent="#menu"
            >
              <li class="w-100">
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Item</span> 1
                </a>
              </li>
              <li>
                <a href="#" class="nav-link px-0">
                  <span class="d-none d-sm-inline">Item</span> 2
                </a>
              </li>
            </ul>
          </li>
          {% endfor %}
          {% else %}
          {% endif %}
          
        </ul>
        <hr />
        <div class="dropdown pb-4">
          <a
            href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
            src="{% static 'images/profile_default.png' %}"

              alt="user_image"
              width="30"
              height="30"
              class="rounded-circle"
            />
            <span class="d-none d-sm-inline mx-1">User</span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark text-small shadow"
            aria-labelledby="dropdownUser1"
          >
            <li><a class="dropdown-item" href="{% url 'users:profile' %}">Profile Settings</a></li>
            <li><a class="dropdown-item" href="{% url 'data_dive:add_category' %}">Add new category</a></li>
            <li><a class="dropdown-item" href="{% url 'data_dive:add_page' %}">Add new page</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'users:user_logout' %}">Log out</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'users:register' %}">Register</a></li>
            <li><a class="dropdown-item" href="{% url 'users:user_login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
